html {
  background-color: white;
  font-family: sans-serif;
}

html.dark {
  background-color: rgb(37, 37, 37);
  color: white;
  font-family: sans-serif;
}

html.dark a {
  color: #7aa0ce;
}

body {
  margin: auto;
  padding: 2rem;
}

@media only screen and (min-width: 992px) {
  body {
    width: 50vw;
  }

  .card-grid {
    grid-template-columns: calc(50% - 1.5rem) calc(50% - 1.5rem) !important;
    width: 75%;
  }
}

img {
  padding: 0 25%;
  height: 50%;
  width: 50%;
}

.text-center {
  text-align: center;
}

.theme-button {
  background-color: transparent;
  outline: 0;
  border-width: 0;
  cursor: pointer;
}

.study-list {
  width: 40%;
  margin: auto;
}

/* Links */
a:visited,
a {
  color: #4c719e;
  margin: 0.5rem;
}

a:hover {
  color: blue;
}

.navbar > span {
  font-weight: bold;
  padding: 0 1rem;
}

.flex-center {
  display: flex;
  align-items: center;
}

.card-grid {
  width: 75%;
  margin: auto;

  gap: 3rem;

  grid-template-columns: 100%;
  display: grid;
}

.card-grid > * {
  display: inline-grid;
}

.card-grid .card {
  border-style: solid;
  border-width: 0.2rem;
  border-radius: 1rem;
  border-color: lightgray;

  text-align: center;

  padding: 1rem 0;

  box-shadow: 0rem 0.1rem 1rem black;
}

.card h2 {
  margin: 0;
}
